<?xml version="1.0"?>
<config>
    <PanelTexture_URL>https://media.discordapp.net/attachments/597725281276395531/702973740295651388/what.png</PanelTexture_URL>
    <FestTheme>None</FestTheme>
    <TeamA_Name>Tiz</TeamA_Name>
    <TeamB_Name>Azzie</TeamB_Name>
    <AppVersion>4</AppVersion>
    <DownloadURL>https://cdn.discordapp.com/attachments/709836888936153268/734658432392757248/SplatfestDL_Cemu.exe</DownloadURL>
</config>
