<?xml version="1.0"?>
<config>
    <PanelTexture_URL>https://files.oatmealdome.me/bcat/images/unknown.PNG</PanelTexture_URL>
    <FestTheme>None</FestTheme>
    <TeamA_Name>Tiz</TeamA_Name>
    <TeamB_Name>Azzie</TeamB_Name>
    <AppVersion>5</AppVersion>
    <DownloadURL>https://cdn.discordapp.com/attachments/709836888936153268/734658432392757248/SplatfestDL_Cemu.exe</DownloadURL>
</config>
